{% load staticfiles %} {% include 'header.html' %}
<style>
    .row {
        margin-top: 40px;
        padding: 0 10px;
    }

    .clickable {
        cursor: pointer;
    }

    .panel-heading span {
        margin-top: -20px;
        font-size: 15px;
    }
</style>
<div class="col-md-9">

    {% if user_save_post_class %}

        <div id="container">
            <div id="row">
                <div class="panel panel-default>
                <div class=" panel-heading
                ">
            </div>

            {% for u_class in user_save_post_class %}
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>{{ u_class }}</h4>
                            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                        </div>
                        <div class="panel-body">
                            {% for post in user_save_post %}
                                <ul class="list-group">
                                    {% if u_class == post.class_id %}
                                        <li class="list-group-item">
                                            <label><a
                                                    href="/result/?pid={{ post.pid }}">{{ post.post_name }}</a></label>
                                            <h5>Save at</h5>
                                            <h6>{{ post.create_time }}</h1>
                                        </li>
                                    {% endif %}
                                </ul>
                            {% endfor %}
                        </div>
                    </div>

                </div>

            {% endfor %}
        </div>
    {% endif %}
</div>
</div>
</div>
<script>
    $(document).on('click', '.panel-heading span.clickable', function (e) {
        var $this = $(this);
        if (!$this.hasClass('panel-collapsed')) {
            $this.parents('.panel').find('.panel-body').slideUp();
            $this.addClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
        } else {
            $this.parents('.panel').find('.panel-body').slideDown();
            $this.removeClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
        }
    })
</script>
{% include 'footer.html' %}
