{% load staticfiles %}

<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'js/locales/bootstrap-datetimepicker.fr.js' %}" charset="UTF-8"></script>
<script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables-plugins/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/datatables-responsive/dataTables.responsive.js' %}"></script>
<script src="//cdn.datatables.net/responsive/1.0.5/js/dataTables.responsive.js"></script>
<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });

</script>
</body>
