{% load staticfiles %} {% include 'header.html' %} {{ query }}
<div class="col-md-9">
    <!-- Trigger the modal with a button -->

    <button type="button" class="btn btn-success" id="selectAll">本頁全選</button>
    <button type="button" class="btn btn-warning" data-toggle="modal">下載</button>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#user_save_data">儲存至使用者資料集</button>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#month_line_chart">一個月內文章數量折線圖</button>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#week_line_chart">一週內文章數量折線圖</button>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#content_keywords">全文累積關鍵字</button>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#reply_keywords">回覆累計關鍵字</button>
    <hr>

    <div id="user_save_data" class="modal modal-lg fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">儲存資料集</h4>
                </div>
                <div class="modal-body">

                    <label>新增資料集名稱</label><br>
                    <input type="text" name="dataset_name" class="form-control"></input>
                    {% if post_classes %}
                    <label for="">儲存至...</label>
                    <select class="selectpicker" multiple>
                        {% for post_class in post_classes %}
                        <option>{{post_class}}</option>

                        {% endfor %}
                    </select>

                    {% endif %}

                </div>
                <div class="modal-footer">

                    <button type="button" id="send_data" class="btn btn-success" data-dismiss="modal">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>
            </div>

        </div>
    </div>
    <!-- Modal -->
    <div id="month_line_chart" class="modal modal-lg fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">一個月內文章數量折線圖</h4>
                </div>
                <div class="modal-body">
                    <img src="{{urls.all_content}}" width="100%" height="100%"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Modal -->
    <div id="week_line_chart" class="modal modal-lg fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">一週月內文章數量折線圖</h4>
                </div>
                <div class="modal-body">
                    <img src="{{urls.all_reply}}" width="100%" height="100%"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Modal -->
    <div id="content_keywords" class="modal modal-lg fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">全文累計關鍵字</h4>
                </div>
                <div class="modal-body">
                    {% if all_content_counter %}{% for i in all_content_counter %} ({% for x in i %} {{ x }} {% endfor %}) {% endfor %}{% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Modal -->
    <div id="reply_keywords" class="modal modal-lg fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">回覆累計關鍵字</h4>
                </div>
                <div class="modal-body">
                    {% if all_reply_counter %}{% for i in all_reply_counter %} ({% for x in i %} {{ x }} {% endfor %}) {% endfor %}{% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    {% if all_data %}
    <table width="100%" class="display" cellspacing="0" id="dataTables-main">
        <thead>
            <tr>
                <th></th>
                <th>標題</th>
                <th>發表日</th>
                <th>作者</th>
                <th>ip</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for post in all_data %} {% if post.first_page != 1 %} {% else %}
            <tr>
                <td data-th="title" width="20"> <input type="checkbox" value="{{post.pid}}||{{post.title}}" name="postItem"></td>

                <td data-th="title" width="280">{{ post.title }}</td>
                <td data-th="ptime" width="180">{{ post.ptime }}</td>
                <td data-th="arthor" width="60">{{ post.arthor }}</td>
                <td data-th="ip" width="60">{{ post.ip }}</td>
                <td data-th="content" width="100">
                    <ul class="pager">
                        {% if '[Re]' in post.title %}
                        <li class="next"><a href="/result/?pid={{ post.pid }}">全文&nbsp{{post.relink|add:"-1"}}</a></li>
                        {% else %}
                        <li class="next"><a href="/result/?pid={{ post.pid }}">全文&nbsp{{post.relink}}</a></li>
                        {% endif %}
                    </ul>
                </td>

            </tr>
            {% endif %} {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <!--
    {% if all_content_counter %}
    <div>
        <div class="col-md-2"><strong>全文累計關鍵字 </strong><br></div>
        <div class="col-md-10">
            {% for i in all_content_counter %} ({% for x in i %} {{ x }} {% endfor %}) {% endfor %}
        </div>

    </div>
    {% endif %}{% if all_reply_counter %}
    <div>
        <div class="col-md-2"><strong>回覆累計關鍵字 </strong><br>

        </div>
        <div class="col-md-10">
            {% for i in all_reply_counter %} ({% for x in i %} {{ x }} {% endfor %}) {% endfor %}
        </div>

    </div>
    {% endif %}
    -->
</div>
<script>
    $(document).ready(function() {
        var table = $('#dataTables-main').DataTable();
        $('#dataTables-main tbody').on( 'click', 'tr', function () {
            $(this).toggleClass('selected');
        } );

        $("#selectAll").click(function(){
            console.log("checkAll");
            var checkBoxes = $('input[name=postItem]');
            checkBoxes.prop('checked', !checkBoxes.prop("checked"));
        });
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
        $('#save').click( function () {
            alert( table.rows('.selected').data().length +' row(s) selected' );
        } );

        $('#send_data').on('click', function(e){
            console.log("test");
            var postItems = new Array();
            $("input[name=postItem]:checked").each(function() {
                postItems.push($(this).val());
            });
            console.log(postItems)
            $.post(
                '/save_post', {
                    'posts': postItems,
                    'dataset_name': $('input[name=dataset_name]').val()
                }, function () {
                    $('.success_msg').append("Vote Successfully Recorded").fadeOut();
                    alert("已儲存！")
                }
            );
            event.preventDefault();

        });
    });
</script>
{% include 'footer.html' %}
